.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}

#MyButton{
  display: block;
  margin:0 auto;
}

.resize {
  width:100px;
  height:100px;
  display: block;
  margin:0 auto;
}